@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #323232; /* 기본 글자 색상 */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'NanumSquareNeoLight';
  src: url('./fonts/NanumSquareNeo-aLt.ttf');
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('./fonts/NanumSquareNeo-bRg.ttf');
}

@font-face {
  font-family: 'NanumSquareNeoBold';
  src: url('./fonts/NanumSquareNeo-cBd.ttf');
}

@font-face {
  font-family: 'NanumSquareNeoExtraBold';
  src: url('./fonts/NanumSquareNeo-dEb.ttf');
}

@font-face {
  font-family: 'NanumSquareNeoHeavy';
  src: url('./fonts/NanumSquareNeo-eHv.ttf');
}

@font-face {
  font-family: 'jalnan';
  src: url('./fonts/Jalnan2TTF.ttf');
}
