@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

body {
  background-color: white;
  color: #1a1a1a;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
